*{
    font-family: ubuntu, sans-serif;
    margin:0;
    padding:0
}

.container {
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items: stretch;
    min-height:100vh;
    width:80%;
    margin:auto;
    gap:10px;

}

.probId {
    border-left:3px solid;
    border-radius:3px;
    text-align:left;
    padding:10px;
    background-color:whitesmoke;
}

.probStatement {
    background-color:lightgray;
    border-radius:5px;
    text-align: left;
    padding: 15px;
}

.typeAnswer {
    text-align: center;
    padding: 10px;
    width:50%;
}

.buttonsInContainer {
    display:flex;
    flex-direction:row;
    gap:5px;
}

.typeAnswer {
    flex: 5 0 0;
    border:2px solid black;
    border-radius:5px;
}
.checkBtn {
    flex: 1 0 0;
    border:none;
    background-color:black;
    border-radius:5px;
    color:white;
}

.checkBtn:hover, .nextBtn:hover {
    font-weight:900;
}
.nextBtn {
    flex: 1 0 0;
    border:none;
    background-color:darkgray;
    border-radius: 5px;
    color: blue;

}

#feedbackMsg {
    font-weight: bold;
    font-size: 1.2em;
    min-height: 1.5em;
    margin-top: 10px;
}

.success {
    color: green;
}

.error {
    color: red;
}