* {
    font-family: ubuntu, sans-serif;
    margin:0;
    padding:0;
}

body {
    display:flex;
    justify-content:center;
    align-items:center;
    min-height:100vh;
}

.main-container {
    display:flex;
    justify-content: center;
    border:1px solid;
    max-width:40%;
    flex-wrap:wrap;
}

.container-1 {
    display:flex;
    flex-direction:column;
    padding:10px;
}

.container-1 .child1-1 {
    flex:1 1 audo;
    border:1px solid;
    padding:5px;
}
.container-1 .child1-2 {
    flex: 2 2 auto;
    border:1px solid;
    padding:5px;
}

.container-2 {
    display:flex;
    flex-direction:column;
    padding:10px;
}

.container-2 .child2-1 {
    flex:1;
    border:1px solid;
    padding:5px;
}

.container-2 .child2-2 {
    flex: 1;
    border: 1px solid;
    padding:5px;
}

.container-2 .child2-3 {
    flex: 1;
    border: 1px solid;
    padding:5px;
}