*{
    font-family: ubuntu, sans-serif;
    margin:0;
    padding:0;  
}

body {
    display:flex;
    justify-content:center;
    align-items:center;
    min-height:100vh;

}
.main-container {
    border:1px solid;
    border-radius:5px;
    background-color:#fbfbfb;
    width:25%;
    min-width:250px;
    height: 50%;
    margin:auto;
    display:flex;
    flex-direction: column;
    flex-wrap: wrap;
    
}

.container1 {
    padding:1px;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    flex: 0 1 auto;
}

.container2 {
    padding:1px;
    display:flex;
    flex-direction:row;
    justify-content:space-around;
    align-items:center;
    flex: 2 2 auto;
    flex-wrap:wrap;
}

.child2-1 {
    flex: 0 0 220px;
}
.child2-1 img {
    width: 100%;
    margin:auto;
    object-fit: cover;
    display:block;
}

.child2-2 {
    flex:1;
    display:flex;
    flex-direction:column;
    min-width:150px;
}

.child2-2 p {
    padding:3px;
}
.container3 {
    padding:5px;
    display:flex;
    justify-content:center;
    align-items:center;
    flex:0 1 auto;
}

button {
    border:none;
    background-color: lightgray;
    padding:5px;
    border-radius:5px;
    font-weight:900;
}

button:hover {
    color:red;
}