body {
    margin:0;
    padding:0;
    font-family: 'Trebuchet MS', sans-serif;
}

.hidden {
    display:none !important;
}

.selected {
    background-color: #e0f7fa; /* 연한 하늘색 */
    border: 2px solid #00acc1; /* 진한 테두리 */
}

.screenLogin {
    display:flex;
    flex-direction:column;
    justify-content: center;
    gap:10px;
    align-items:center;
}

.inputContainer {
    display:flex;
    flex-direction:row;
    gap:10px;
}

.inputContainer #inputName {
    flex: 3 0 0 ;
}

.inputContainer #startBtn {
    flex: 2 0 0;
}

.cardContainer {
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    height:100vh;
}
.problemCard {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 500px;
    height: 300px;
    margin: auto;
    border-left: 3px solid;
    border-radius: 3px;
}

.resultContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items:left;
    width: 500px;
    height: 300px;
    margin: auto;
}

.resultContainer p {
    text-align:center;
}

#passFailMsg {
    text-align:center;
}

#scoreDetail {
    text-align:center;
}

#wrongList {
    text-align:left;
    border-left:2px solid;
    border-radius:2px;
}
.buttonContainer {
    display:flex;
    flex-direction:row;
    justify-content:space-around;
    align-items:center;
    margin:5px;
    gap:10px;
    flex: 1 0 0 ;
}

#textHere {
    flex: 6 0 0;
    font-weight:900;
    text-align:center;
}

#nextBtn {
    flex: 1 0 0;
    border: none;
    border-radius:8px;
}
#submitBtn {
    flex: 1 0 0;
    border: none;
    border-radius:8px;
}

#clickHere:hover {
    font-weight:500;
    color:red;
}

#clearAll:hover {
    font-weight:500;
    color:red;
}

#idShow {
    flex: 1 0 0;
    text-align:left;
    padding:3px;
    margin:5px;
    border-left:3px solid;
    border-radius:3px;
    
}

#dataShow {
    flex: 2 0 0;
    text-align:center;
    margin:5px;
}

.optionsContainer {
    flex: 6 0 0 ;
    display:flex;
    flex-direction:column;
    justify-content: space-around;
    margin:5px;
    flex-wrap: wrap;
}

.optionsContainer button {
    padding: 5px;
    margin: 5px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: white;
    cursor: pointer;
    font-size: 1rem;
    font-family: 'Trebuchet MS', sans-serif;
    transition: background-color 0.5s ease;
}

.optionsContainer button:hover {
    background-color: #f0f0f0;
    border-color: #999;
}