body {
    margin:0;
    padding:0;
    font-family: 'Trebuchet MS', sans-serif;
}

.cardContainer {
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    height:100vh;
}
.problemCard {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 500px;
    height: 300px;
    margin: auto;
    border: 5px solid;
    border-radius:5px;
}

.buttonContainer {
    display:flex;
    flex-direction:row;
    justify-content:space-around;
    align-items:center;
    margin:5px;
    gap:10px;
    flex: 1 0 0 ;
}

#textHere {
    flex: 6 0 0;
    font-weight:900;
    text-align:center;
}

#clickHere {
    flex: 1 0 0;
    border: none;
    border-radius:8px;
}
#clearAll {
    flex: 1 0 0;
    border: none;
    border-radius:8px;
}

#clickHere:hover {
    font-weight:500;
    color:red;
}

#clearAll:hover {
    font-weight:500;
    color:red;
}

#idShow {
    flex: 1 0 0;
    text-align:left;
    padding:3px;
    margin:5px;
    border-left:3px solid;
    border-radius:3px;
    
}

#dataShow {
    flex: 2 0 0;
    text-align:center;
    margin:5px;
}

.optionsContainer {
    flex: 6 0 0 ;
    display:flex;
    flex-direction:column;
    justify-content: space-around;
    margin:5px;
    flex-wrap: wrap;
}

.optionsContainer button {
    padding: 5px;
    margin: 5px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: white;
    cursor: pointer;
    font-size: 1rem;
    font-family: 'Trebuchet MS', sans-serif;
    transition: background-color 0.5s ease;
}

.optionsContainer button:hover {
    background-color: #f0f0f0;
    border-color: #999;
}