.paytone-one-regular {
  font-family: "Paytone One", sans-serif;
  font-weight: 200;
  font-style: normal;
}

* {
    font-family: "Paytone One", sans-serif;
    padding:0;
    margin:0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height:100vh;
    background-color: rgb(158, 158, 158);
}

.main-container {
    display: flex;
    justify-content: center;
    align-items: stretch;
    flex-wrap: wrap;
    
    min-height: 30vh;
    width: 60%;
    max-width: 700px;

    border-radius: 15px;
    background-color:black;
    color:white;
    gap:5px;
}

.box-container1 {
    display: flex;
    flex: 1 1 200px;
    flex-direction: column;
    justify-content: space-evenly;
    align-items:center;

    background-color:rgb(42, 71, 71);
    border-left: 5px solid whitesmoke;
    padding: 15px;
    margin:10px;
    border-radius: 10px;
    gap:20px;
    min-width: 100px;
}

.profile-picture {
    display:flex;
    justify-content: center;
    align-items:center;
    width:120px;
    height:120px;
    border-bottom: 5px solid white;
    border-radius: 50%;
    margin:0;
    flex-shrink: 0;
    overflow:hidden;
}

.profile-picture img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    
}

.links {
    display:flex;
    justify-content:center;
    align-items:center;
    padding:10px 0;
    margin:0;
    text-align:center;

}

.links a {
    text-decoration:none;
    color:white;
    font-weight:800;
}

.links a:hover {
    color:yellow;
    transition-delay: 6ms;
}

.box-container2 {
    display:flex;
    flex-direction:column;
    justify-content:space-evenly;
    flex: 2 1 400px;
    background-color:rgb(42, 71, 71);
    border-left: 5px solid whitesmoke;
    padding: 20px;
    border-radius: 10px;
    margin:10px;
    gap:20px;
}

.about {
    display:flex;
    flex-direction:column;
    justify-content:space-evenly;
    align-items:left;
    border-radius: 5px;
    border-left: 3px solid yellowgreen;
    padding:10px;
    margin:0;
}

.about p {
    font-size:12px;
}

.contact {
    display:flex;
    flex-direction:column;
    gap:5px;
    justify-content:space-evenly;
    align-items:flex-start;
    padding:10px;
    border-left: 3px solid yellowgreen;
    border-radius:5px;
}

.contact p {
    font-size:10px;
}

.contact #mail_to_me, #reachprep_url {
    text-decoration:none;
    color:white;
    
}

.contact #mail_to_me:hover, #reachprep_url:hover {
    color: yellow;
    font-weight: 700;
}

