* {
    font-family: Ubuntu, sans-serif;
    padding:0;
    margin:0;
}

header {
    font-size:18px;
    background-color:black;
    color:white;
    text-align:center;
    padding:20px;
    margin:0px;
}

.card {
    border-left: 4px solid gray;
    background-color:lightgray;
    padding:10px;
    margin:10px;
    border-radius:5px;
}

.card h2 {
    font-size:16px;
}

.card p {
    font-size:14px;
    padding:5px;
}

.btn-container {
    text-align:center;

}
button {
    background-color: darkgray;
}

button:hover {
    color: darkred;
    cursor: pointer;
}

#answer {
    padding:10px;
    margin-top:10px;
    cursor:pointer;
    text-align:center;
}

#answer:hover {
    color: red;
    font-weight: 900;
}