*{
    font-family: ubuntu, sans-serif;
    margin:0;
    padding:0;
}

body {
    display: flex;
    justify-content: space-evenly;
    align-items: stretch;
    min-height:100vh;
}
.card {
    display:flex;
    flex-direction:column;
    justify-content: space-around;

    width:80%;
    margin:auto;
}

.title {
    border: 1px solid black;
    border-radius: 3px;
    padding:5px;
    margin-bottom:5px;
}

.problem {
    border-left: 3px solid black;
    border-radius: 3px;
    margin-bottom:5px;
    padding:5px;
}

.answer-choices {
    display:flex;
    justify-content:center;
    align-items:center;
    flex-wrap:wrap;
}

.answer-choices button{
    flex: 1 1 0;
    padding:5px;
    margin:5px;
    border:none;
    border-radius:10px;
}
.scrolling {
    display:flex;
    justify-content:center;
    align-items:center;
}

.scrolling button {
    flex:1 1 0;
    padding: 10px 15px;
    margin:5px;
    background-color:black;
    color:white;
    font-weight:400;
    border:none;
    cursor:pointer;
    border-radius:15px;
}

button:hover {
    font-weight:900;
}

/* video */

.videoParent {
    position:relative;
    width:100%;
    padding-bottom: 56.25%;
    display:flex;
    flex-direction:row;
    justify-content:center;
    flex-wrap:wrap;
    
}

.videoChild {
    position:absolute;
    margin:25px;
    width:80%;
    height:80%;
}