* {
    font-family: arial, sans-serif;
    padding:0;
    margin:0;
}

body {
    height:100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-container {
    width:50%;
    min-width:320px;
    max-width:90%;
    height:auto;
    min-height:50%;
    max-height:90vh;

    margin:auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: darkgray;
    border-radius:5px;
    overflow: auto;
}

/* the first div : text-container */
.text-container {
    flex: 1 1 auto;
    width: 80%;
    border-left:5px solid black;
    border-right:5px solid black;
    border-radius:5px;
    text-align:center;
    display:flex;
    flex-direction:column;
    justify-content: center;
    margin: 20px;
    background-color: #fbfbfb;

}

.text-container p {
    font-family: system-ui;
    font-size:20px;
    padding:10px;

}

/* the second div: fixing btn areas */

.btn-container {
    flex: 0 1 auto;
    padding:10px;
    margin:auto;
}

button {
    border: none;
    background-color:black;
    color:white;
    padding:5px;
    border-radius:5px;
}

button:hover {
    color:yellow;
    font-weight:900;
}

/* the third div: disclaimer area */

.disclaimer {
    flex: 0 1 auto;
    width:80%;
    margin:auto;

}

.disclaimer p {
    text-align: center;
    padding-bottom: 10px;
}

/* the fourth div: paste area */
.paste-container {
    flex: 2 2 auto;
    border-left: 3px solid black;
    border-radius: 3px;
    width:80%;
    margin: auto;
    min-height:80px;
    overflow: auto;
    margin-bottom:30px;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    background-color: #fbfbfb;
}